.button {
    margin-top: .5rem;
    padding: .5rem 1rem;
    text-align: center;
    background: #3A0544;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}